logs/
config/

compile_flags.txt

*.log
imgui.ini
Scene.json
frame_*.png

bin/
bin-int/

build/
builddir/

.vs/
.vscode/

*.make
Makefile

*.sln
*.vcxproj
*.vcxproj.*

Tools/slang/
Assets/Shaders/generated/
